<div>

    <div>
        <img src=<%= @user.photo%> alt="user"/>
        <div>
            <h2><%= @user.name %></h2>
          

          
        </div>
    </div>

    <% @posts.each do |post| %>
        <div>
            <h2>Post : <%= post.id %></h2>
            <p><%= post.text %></p>
            <h3>Comments: <%= post.comments_conter%>, Likes: <%= post.likes_counter %><h3>

            <% post.recent_comments.each do |comment|%>
                <h3><%= comment.author_id %><%= comment.text %></h3>
            <% end %>

        </div>
    <% end%>

    <button>
        Pagination
    </button>
  
</div>
